<div key="{{id}}">
  <h6><a class="postTitle" href="#view-post?id={{id}}">{{title}}</a></h6>
  <p class="postAutor" >Autor: {{author}}</p>
  <td>
    {{#if_eq user.currentUser author}}

      <button class="remove-button" item="{{id}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{id}}">{{i18n 'edit'}}</button>
    {{/if_eq}}
  </td>

</div>


						