<div>

  <div class="container py-5 text-center">
    <h1 class="h1_myrecipes">{{i18n 'Create Recipe'}}</h1>
    <h6 class="h6_myrecipes">{{i18n 'Show your recipes to the world!'}}</h6>
  </div>


  <!-- Titulo de la receta -->
  <div class="form-group row form_row">
    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6">
      <label for="form_title" class="form_label">{{i18n 'Title'}}</label>
      <input type="text" id="title" class="form-control form_input" placeholder="Title"></input>
      {{#i18n}}{{errors.title}}{{/i18n}}
    </div>
  </div>

  	<!-- Subir fotografia de la receta "-->
	<div class="form-group row form_row">
		<div class="col-lg-2 col-md-5 col-sm-5 col-xs-6">
			<label for="upload_file" class="form_label">{{i18n 'Add a recipe image'}}</label>
			<input type="file" class="form-control form-control-lg form_input"  name="image" id="image" accept=".jpg, .jpeg, .png"></input>
			{{#i18n}}{{errors.image}}{{/i18n}}
		</div>
	</div>

<!-- Contenido de la receta -->
	<div class="form-group row form_row">
		<div class="col-lg-5 col-md-8 col-sm-7 col-xs-6">
			<label for="form_content" class="form_label">{{i18n 'Content'}}</label>
			<textarea class="form-control form_content form_input" id="content" rows="8"></textarea>
			{{#i18n}}{{errors.content}}{{/i18n}}
		</div>
	</div>

  <!-- Tiempo de preparación de la receta -->
	<div class="form-group row form_row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
			<label for="form_time" class="form_label">{{i18n 'Preparation time'}}</label>
			<input type="text" id="time" class="form-control form_input" placeholder="Estimated time..."></input>
			{{#i18n}}{{errors.time}}{{/i18n}}
		</div>
	</div>

<!-- Fecha de la receta -->
	<div class="form-group row form_row">
	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
		<label for="form_date" class="form_label">{{i18n 'Date'}}</label>
		<input type="date" id="date" class="form-control form_input"></input>
		{{#i18n}}{{errors.date}}{{/i18n}}
	</div>
	</div>


<!-- Ingredientes -->
	<div class="container ingr_container">
		<div class="row my-4">
			<div class="mx-auto col-lg-12 col-md-10 col-sm-8 col-xs-7">
				<div class="card shadow">
					<div class="card-header">
						<h4>{{i18n 'Add ingredients'}}</h4>
					</div>
					<div class="card-body p-4">
						<div id="show_item">
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" list="ingredientsList" name="ingredients[]" class="form-control form_input" placeholder="{{i18n 'Ingredient'}}"></input>
								</div>
								<!-- Datalist ingredients   -->
								<datalist id="ingredientsList">
									{{#if ingredients.ingredients.length}}
										{{#each ingredients.ingredients}}
											<option value="{{this.name}}"></option>
										{{/each}}
									{{/if}}
								</datalist>
								<!-- Datalist ingredients   -->

								<div class="col-md-3 mb-3">
									<input type="text" name="cantidad[]" class="form-control form_input" placeholder="{{i18n 'Amount'}}"></input>
								</div>

								<div class="col-md-2 mb-3 d-grid">
									<button class="btn btn-success add_item_btn">{{i18n 'Add'}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{{add_ingr}}

  <input type="button" id="savebutton" value="{{i18n 'Save'}}"></input>
</div>